@model DataAccessLayer.Models.ViewModel.MemberDetailsVM
@using DataAccessLayer.StaticClass

@{
    ViewData["Title"] = "Details";
    ViewData["Banner"] = @Model.Email;
}

@{

    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName) ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName, new{ id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("Member", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.MemberControllerName, new{ projectId = ViewBag.ProjectId }) ?? string.Empty),
        new KeyValuePair<string, string>("Details", "#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<!--card start-->
<div class="card shadow-lg">

    <div class="card-body fw-bolder">

        <div class="row g-3 mt-4">
            <div class="col-md-2">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-header bg-light">
                        <h5 class="text-success">Total Tasks</h5>
                    </div>
                    <div class="card-body">
                        <h1>@Model.TaskAll</h1>
                    </div>
                </div>
            </div>


            @foreach (var item in Model.StatusList)
            {
                @if (Model.TaskDict.ContainsKey(item.Key) == false)
                {
                    Model.TaskDict[item.Key] = 0;
                }

                <div class="col-md-2">
                    <div class="card h-100 text-center shadow-sm">
                        <div class="card-header bg-light">
                            <h5 class="text-success">@item.Value</h5>
                        </div>
                        <div class="card-body di">
                            <h1 id="taskInProgress">@Model.TaskDict[item.Key]</h1>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row g-3 mt-4">
            <div class="col-md-2">
                <div class="card h-100 text-center shadow-sm">
                    <div class="card-header bg-light">
                        <h5 class="text-danger">Total Bugs</h5>
                    </div>
                    <div class="card-body">
                        <h1>@Model.BugAll</h1>
                    </div>
                </div>
            </div>


            @foreach (var item in Model.StatusList)
            {
                @if (Model.BugDict.ContainsKey(item.Key) == false)
                {
                    Model.BugDict[item.Key] = 0;
                }

                <div class="col-md-2">
                    <div class="card h-100 text-center shadow-sm">
                        <div class="card-header bg-light">
                            <h5 class="text-danger">@item.Value</h5>
                        </div>
                        <div class="card-body">
                            <h1 id="taskInProgress">@Model.BugDict[item.Key]</h1>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!--card end-->

<div class="d-flex justify-content-between mb-2 mt-3">
    <h3>Assigned Tasks</h3>
</div>

<div>
    <table class="table table-bordered table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Description
                </th>

                <th>
                   Estimated Time
                </th>
                <th>
                    Tag
                </th>
                <th>
                    Status
                </th>
                <th>
                    Priority
                </th>

            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model.Tasks)
                {
                    @if (Model.StatusList.ContainsKey(item.Status) == false)
                    {
                        Model.StatusList[item.Status] = "Not Found";
                    }
                    @if (Model.PriorityList.ContainsKey(item.Priority) == false)
                    {
                        Model.StatusList[item.Priority] = "Not Found";
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripton)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimatedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag)
                        </td>
                        <td>
                            @Model.StatusList[item.Status]
                        </td>
                        <td>
                            @Model.PriorityList[item.Priority]
                        </td>
                    </tr>
                }
          
           


        </tbody>

    </table>
</div>

<div class="d-flex justify-content-between mb-2">
    <h3>Assigned Bugs</h3>
</div>

<div>
    <table class="table table-bordered table-striped table-hover" id="datatablebug">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Description
                </th>

                <th>
                    QA-Remarks
                </th>
                <th>
                    Status
                </th>
                <th>
                    Priority
                </th>

            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model.Bugs)
                {
                    @if (Model.StatusList.ContainsKey(item.Status) == false)
                    {
                        Model.StatusList[item.Status] = "Not Found";
                    }
                    @if (Model.PriorityList.ContainsKey(item.Priority) == false)
                    {
                        Model.StatusList[item.Priority] = "Not Found";
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripton)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QaRemarks)
                        </td>
                        <td>
                            @Model.StatusList[item.Status]
                        </td>
                        <td>
                            @Model.PriorityList[item.Priority]
                        </td>
                    </tr>
                }
            


        </tbody>

    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#datatablebug").DataTable({

            });
        });
        $(document).ready(function () {
            $("#datatable").DataTable({

            });
        });
        $("th").css("background-color", "aliceblue");

    </script>
}

