@model DataAccessLayer.Models.ViewModel.MemberVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Section</h1>

<div id="response-message">
</div>

<h1 class="fw-bold text-center">Welcome to Create Page </h1>

<form id="form">
    <div class="form-group">
        <label for="MemberId">MemberId</label>
        <input id="MemberId" name="MemberId" type="text" value="@Model.MemberId" readonly />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email"> </label>
        <input asp-for="@Model.Email" class="form-control" id="role">
    </div>

    <div class="form-group">
        <label asp-for="@Model.RoleId"> </label>
        <input asp-for="@Model.RoleId" class="form-control" id="role">
    </div>

    <br/> <br/>

    <input type="button" onclick="editMember();" value="Save Changes" class="btn btn-primary" />
    <a class="btn btn-success float-end" asp-action="Index">Back to List</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function editMember() {

        var formData = new FormData(document.getElementById("form"));
        var id = $('input[name="MemberId"]').val();

        $.ajax({
            url: `/Member/Edit/${id}`,
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {

                    $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                    setTimeout(() => {
                        window.location.href = '/Member/Index';
                    }, 2000);
                }

                else {
                    $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            },
            error: function (xhr, status, error) {

                $('#response-message').removeClass('alert-success').addClass('alert-danger')
                    .html('An error occurred: ' + xhr.responseText);
            }
        });
    }
</script>