@model IEnumerable<DataAccessLayer.Models.ViewModel.MemberWithRoleVM>
@using DataAccessLayer.StaticClass
@{
    ViewData["Title"] = "Index";
    ViewData["Banner"] = "Member Panel";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName) ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName, new{ id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("Member", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.MemberControllerName, new{ projectId = ViewBag.ProjectId }) ?? string.Empty),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div id="response-message">

</div>

<div class="mb-3">
    <a class="btn btn-success fw-bold" href="@Url.Action("Create", "Member", new { projectId = ViewBag.ProjectId })"> <i class="text-light fa-solid fa-plus fw-bold"></i> Add Member</a>

</div>


<table class="table table-bordered table-striped table-hover" id="datatable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th class="text-center">
                Total Task
            </th>
            <th class ="text-center">
                Total Bug
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="text-decoration-none fw-bold" asp-action="Details" asp-route-id="@item.MemberId">
                            @item.Name
                        </a>
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td class="text-center text-success">
                        @item.TotalTask
                    </td>
                    <td class="text-center text-danger">
                        @item.TotalBug
                    </td>
                    @if(item.Role != RoleHelper.OwnerRoleName)
                    {
                        <td class="text-center">
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.MemberId"><i class="text-success fa-solid fa-pen"></i></a> |
                            <a class="btn btn-light" onclick="openDeleteModal('@item.MemberId')"><i class="text-danger fa-solid fa-trash"></i> </a>
                        </td>
                    }
                    else
                    {
                        <td> </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center fw-bold text-danger">No data found!</td>
            </tr>
        }
        
    </tbody>

</table>

<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Are you sure?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                After clicking on "Ok" button it wont be undone!
            </div>
            <div class="modal-footer text-center justify-content-center">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmDelete()" class="btn btn-outline-danger">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $("#datatable").DataTable({

            });
        });
        $("th").css("background-color", "aliceblue");
        
        let projectIdToDelete = 0;

        function openDeleteModal(id)
        {
            memberIdToDelete = id;
            $("#modal").modal('show');
        }

        function confirmDelete() {
            $.ajax({
                url: `/Member/Delete/${memberIdToDelete}`,
                type: 'POST',
                success: function (response) {
                    if(response.success == true) {
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                    }
                    else {
                       $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                    $("#modal").modal('hide');
                    setTimeout(() => {
                            window.location.reload();
                    }, 1000);
                },
                error: function (response) {
                      $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            });
        }
    </script>
}