@model DataAccessLayer.Models.ViewModel.BugVM
@using DataAccessLayer.StaticClass

@{
    ViewData["Title"] = "Bug-Create";
    ViewData["Banner"] = "Create Bug";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName)??string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName,new{id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("UserStories", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.UserStoryControllerName,new{projectId = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("StoryDetails", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.UserStoryControllerName,new{Id = ViewBag.StoryId})?? string.Empty),
        new KeyValuePair<string, string>("TaskBug","#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" id="createForm" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Descripton" class="control-label"></label>
                <textarea asp-for="Descripton" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Descripton" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2"> 
                <label asp-for="AssignMembersId" class="control-label">Assignee</label> <br />
                <select asp-for="@Model.AssignMembersId" class="btn btn-sm btn-light dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                    <option value="0">Select Assignee</option>
                </select>
                <span asp-validation-for="AssignMembersId" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2"> 
                <label asp-for="TaskId" class="control-label">Task</label> <br />
                <select asp-for="@Model.TaskId" class="btn btn-sm btn-light dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Tasks">
                    
                </select>
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="QaRemarks" class="control-label">QA Remarks</label>
                <textarea asp-for="QaRemarks" class="form-control" rows="3"></textarea>
                <span asp-validation-for="QaRemarks" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-evenly mt-2">
                <label asp-for="Status" class="control-label"></label>

                <select asp-for="@Model.Status" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Status">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>

                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="@Model.Priority" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Priority">
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <input type="button" onclick="submitForm()" value="Create" class="btn btn-success w-50" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5 ">
    <a class="btn btn-outline-danger w-25" asp-action="Details" asp-controller="UserStory" asp-route-id="@ViewBag.UserStoryId">Back to User Story</a>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        function submitForm() {
            var form = $('#createForm');
            var formData = new FormData(form[0]);
            if(form.valid()){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Bug")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        window.location.href = '@Url.Action("Details", "UserStory")/'+ @ViewBag.UserStoryId;
                    },
                    error: function (error) {
                        $('#errorModalBody').text('An error occurred: ' + error.responseText);
                        $('#errorModal').modal('show');
                    }
                });
            }

        }

    </script>

}
