@model DataAccessLayer.Models.Entity.ProjectInfo

@{
    ViewData["Title"] = "Details";
    ViewData["Banner"] = ViewBag.ProjectName;
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger fw-bold">
        @ViewBag.Error
    </div>
}
else
{

    <div class="col-4 ">
        <a class="btn mb-4 w-50 shadow" style="background-color:aliceblue;" href="@Url.Action("Index", "UserStory", new { projectId = Model.ProjectId })">
            <b>User Story</b>
        </a>
        <a class="btn mb-4 w-50 shadow" style="background-color:aliceblue;" href="@Url.Action("Index", "Member", new { projectId = Model.ProjectId })">
            <b>Member</b>
        </a>
        <a class="btn mb-4 w-50 shadow" style="background-color:aliceblue;" href="@Url.Action("GetAll", "Feature", new { projectId = Model.ProjectId })">
            <b>Feature</b>
        </a>
        <a class="btn mb-4 w-50 shadow" style="background-color:aliceblue;" href="@Url.Action("Index", "Release", new { projectId = Model.ProjectId })">
            <b>Release</b>
        </a>
        <a class="btn mb-4 w-50 shadow" style="background-color:aliceblue;" href="@Url.Action("Index", "Sprint", new { projectId = Model.ProjectId })">
            <b>Sprint</b>
        </a>
    </div>

}





