@model IEnumerable<DataAccessLayer.Models.Entity.Bug>
@using DataAccessLayer.StaticClass
@{
    ViewData["Title"] = "GetAllProjectBug";
    ViewData["Banner"] = "All Bug";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName) ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName, new{ id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("AllBugs", "#" )
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}


<div>
    <table class="table table-bordered table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>Bugs</th>
                <th>Description</th>
                <th>Assign-Member</th>
                <th>QA-Remarks</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @*  @if (!Model.PriorityList.ContainsKey(item.Priority))
                {
                    Model.PriorityList[item.Priority] = "Not Found";
                }
                @if (!Model.StatusList.ContainsKey(item.Status))
                {
                    Model.StatusList[item.Status] = "Not Found";
                } *@

                <tr>
                    <td class="fw-bold text-danger">
                     @item.Name
                    </td>
                    <td>@item.Descripton</td>
                    <td>@item.AssignMembersId</td>
                    <td>@item.QaRemarks</td>
                    <td>@item.Priority</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script>


        $(document).ready(function () {
            $("#datatable").DataTable({

            });
        });
        $("th").css("background-color", "aliceblue");


    </script>
}