@model IEnumerable<DataAccessLayer.Models.Entity.ProjectInfo>
@{
    ViewData["Title"] = "Index";
    ViewData["Banner"] = "Projects";
}

<div class="mb-3">
    <a class="btn btn-success fw-bold" asp-action="Create"> <i class="text-light fa-solid fa-plus fw-bold"></i> Create Project</a>
</div>
<div id="response-message">

</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Key
            </th>
            <th>
                Description
            </th>
            <th>
                Company Name 
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @if( Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fw-bold">
                        <a class="text-decoration-none" href="/Project/Details/@item.ProjectId"> @Html.DisplayFor(modelItem => item.Name) </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ProjectId"><i class="text-success fa-solid fa-pen"></i></a> |
                        <a class="btn btn-light" onclick="openDeleteModal('@item.ProjectId')"><i class="text-danger fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center fw-bold text-danger">No data found!</td>
            </tr>
        }
      
        
    </tbody>

</table>

<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Are you sure ?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                After clicking on "Ok" button it won't be undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmDelete()" class="btn btn-outline-danger">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let projectIdToDelete = 0;

        function openDeleteModal(id)
{
            projectIdToDelete = id;
            $("#modal").modal('show');
        }

        function confirmDelete() {
            $.ajax({
                url: `/Project/Delete/${projectIdToDelete}`,
                type: 'POST',
                success: function (response) {
                    if(response.success) {
                        $("#modal").modal('hide');
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);  
                    }

                    else {
                       $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function (response) {
                      $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            });
        }
    </script>
}