@model IEnumerable<DataAccessLayer.Models.Entity.BugStatus>

@{
    ViewData["Title"] = "BugStatuses";
    ViewData["Banner"] = "BugStatuses";
}


<div style="text-align: end;">
    <a asp-action="Create" class="btn btn-success"><i class="text-light fa-solid fa-plus"></i> BugStatus</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
              Bug Status Name
            </th>
            <th>
                Color
            </th>
            <th>
                Color Hex
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
				@item.Name
            </td>
            <td style="background-color: @item.ColorHex;">
                
            </td>
			<td>
				@item.ColorHex
			</td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="text-danger fa-solid fa-pen"></i>
                </a>
                <a class="btn btn-light" onclick="openDeleteModal('@item.Id')">
                    <i class="text-danger fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>



<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Delete User Story !!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                You are deleting a User Story....after clicking on "Delete" button it wont be undone and all associate task or  other properties will be deleted forever!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmDelete()" class="btn btn-outline-danger">OK</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        let statusIdToDelete = 0;

        function openDeleteModal(id) {
            statusIdToDelete = id;
            $("#modal").modal('show');
        }

        function confirmDelete() {
            $.ajax({
                url: '/BugStatus/Delete/' + statusIdToDelete,
                type: 'POST',
                success: function (result) {
                    $("#modal").modal('hide');
                    location.reload();
                    console.log(result);
                },
                error: function (err) {
                    alert('Error deleting Status' + err);
                }
            });
        }
    </script>
}

