@model DataAccessLayer.Models.Entity.SubTask

<div>
    <h5>Name: @Model.Name</h5>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Estimated Time:</strong> @Model.EstimatedTime hr</p>
    <p><strong>Priority:</strong> @Model.Priority</p>
    <p><strong>Assignee:</strong> @Model.AssignMembersId</p>
    <p><strong>Reviewer:</strong> @Model.ReviewerMemberId</p>
</div>
