@model DataAccessLayer.Models.ViewModel.TaskDetailsVM
@using DataAccessLayer.StaticClass

@{
    ViewData["Title"] = "Task Details";
    ViewData["Banner"] = "Task Details";
    Model.MemberList[0] = "N/A";
    Model.StatusList[0] = "N/A";
    Model.PriorityList[0] = "N/A";
}
@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName)??string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName,new{id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("UserStories", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.UserStoryControllerName,new{projectId = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("StoryDetails", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.UserStoryControllerName,new{Id = Model.Tasks.UserStoryId})?? string.Empty),
        new KeyValuePair<string, string>("TaskDetails","#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div class="d-flex justify-content-between">
	<h3 class="text-center">Task : @Model.Tasks.Name</h3>
</div>

<hr />

<div>
	@Model.Tasks.Descripton
    <hr />
</div>
@if (Model.StatusList.ContainsKey(Model.Tasks.Status) == false)
{
    Model.StatusList[Model.Tasks.Status] = "Not Found";
}
@if (Model.PriorityList.ContainsKey(Model.Tasks.Priority) == false)
{
    Model.StatusList[Model.Tasks.Priority] = "Not Found";
}
@if (Model.MemberList.ContainsKey(Model.Tasks.AssignMembersId) == false)
{
    Model.MemberList[Model.Tasks.AssignMembersId] = "Not Found";
}
@if (Model.MemberList.ContainsKey(Model.Tasks.ReviewerMemberId) == false)
{
    Model.MemberList[Model.Tasks.ReviewerMemberId] = "Not Found";
}
<div>
    <table>
        <tbody>
            <tr>
                <td>Estimated Time :  </td>
                <th><i>@Model.Tasks.EstimatedTime Hour</i></th>
            </tr>
            <tr>
                <td>Assignee :</td>
                <th><i>@Model.MemberList[Model.Tasks.AssignMembersId]</i></th>
            </tr>
            <tr>
                <td>Reviewer :</td>
                <th><i>@Model.MemberList[Model.Tasks.ReviewerMemberId]</i></th>
            </tr>
            <tr>
                <td>Status :</td>
                <th><i>@Model.StatusList[Model.Tasks.Status]</i></th>
            </tr>
            <tr>
                <td>Priority :</td>
                <th><i>@Model.PriorityList[Model.Tasks.Priority]</i></th>
            </tr>
            <tr>
                <td>User Story :</td>
                <th><i>@Model.StoryName</i></th>
            </tr>
        </tbody>
    </table>
    <hr />
</div>
<div class="d-flex justify-content-between">
    <h3>Sub Tasks</h3>
    <a class="btn btn-success w-25" asp-controller="SubTask" asp-action="Create" asp-route-id="@Model.Tasks.Id">
        <i class="text-light fa-solid fa-plus"></i> Sub Task
    </a>
</div>
<div>
    <table class="table table-bordered table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>
                    Sub Task
                </th>
                <th>
                    Status
                </th>
                <th>
                    Estimated Time
				</th>
				<th>
					Priority
				</th>
                <th>
                    Assignee
                </th>
                <th>
                    Reviewer
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubTask)
            {

                @if (Model.StatusList.ContainsKey(item.Status) == false)
                {
                    Model.StatusList[item.Status] = "Not Found";
                }
                @if (Model.PriorityList.ContainsKey(item.Priority) == false)
                {
                    Model.StatusList[item.Priority] = "Not Found";
                }
                @if (Model.MemberList.ContainsKey(item.AssignMembersId) == false)
                {
                    Model.MemberList[item.AssignMembersId] = "Not Found";
                }
                @if (Model.MemberList.ContainsKey(item.ReviewerMemberId) == false)
                {
                    Model.MemberList[item.ReviewerMemberId] = "Not Found";
                }
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Model.StatusList[item.Status]
                    </td>
                    <td>
                        @item.EstimatedTime Hour
                    </td>
                    <td>
                        @Model.PriorityList[item.Priority]
                    </td>
                    <td>
                        @Model.MemberList[item.AssignMembersId]
                    </td>
                    <td>
                        @Model.MemberList[item.ReviewerMemberId]
                    </td>
                    <td>
                        <a class="btn btn-light" asp-controller="SubTask" asp-action="Edit" asp-route-id="@item.SubTaskId">
                            <i class="text-success fa-solid fa-pen"></i>
                        </a>
                        <a class="btn btn-light" onclick="openDeleteModal(@item.SubTaskId)">
                            <i class="text-danger fa-solid fa-trash"></i>
                        </a>
                        <a class="btn btn-light" onclick="openDetailsModal(@item.SubTaskId,'@item.Descripton')">
                            <i class="text-primary fa-solid fa-circle-info"></i> 
                        </a>
                        @if (@Model.MemberId == @item.AssignMembersId || @Model.AdminMemberIds.Contains(Model.MemberId))
                        {
                            <a id="playButton-@item.SubTaskId" class="btn btn-light @(item.TrackingStatus == "Started" ? "d-none" : "")"
                               onclick="startTracking(@item.TaskId, @item.SubTaskId,@item.AssignMembersId)">
                                <i class="text-warning fa-solid fa-circle-play"></i>
                            </a>
                            <a id="pauseButton-@item.SubTaskId" class="btn btn-light @(item.TrackingStatus == "Started" ? "" : "d-none")"
                               onclick="stopTracking(@item.TaskId, @item.SubTaskId,@item.AssignMembersId)">
                                <i class="text-warning fa-solid fa-circle-pause"></i>
                            </a>
                        }
                        else
                        {
                            <a style="pointer-events:none;" id="playButton-@item.SubTaskId" class="btn btn-light @(item.TrackingStatus == "Started" ? "d-none" : "")"
                               onclick="startTracking(@item.TaskId, @item.SubTaskId,@item.AssignMembersId)">
                                <i class="text-danger fa-solid fa-circle-xmark"></i>
                            </a>
                            <a style="pointer-events:none;" id="pauseButton-@item.SubTaskId" class="btn btn-light @(item.TrackingStatus == "Started" ? "" : "d-none")"
                               onclick="stopTracking(@item.TaskId, @item.SubTaskId,@item.AssignMembersId)">
                                <i class="text-danger fa-solid fa-circle-xmark"></i>
                            </a>
                        }
                        <a id="stop-watch-@item.SubTaskId" class="Digital7 btn btn-light">00:00:00:00</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<hr />
</div>

<div id="memberData" data-member-id="@Model.MemberId"></div>
<div id="projectData" data-member-id="@ViewBag.ProjectId"></div>

<!-- Delete Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Delete Sub Task !!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                After clicking on "Delete" button it won't be undone!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmDelete()" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Sub Task Details Modal -->
<div class="modal fade col-12" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Sub Task Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" id="modalDescription"></div>
            <div class="modal-body" id="eachTimeDescription"> </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Task delete modal -->

<div class="modal fade" id="modalTask" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Delete Task !!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                You are deleting this Task. After clicking on "Delete" button it won't be undone!!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmTaskDelete()" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        $(document).ready(function () {
            $("#datatable").DataTable({

            });
        });
        $("table th").css("background-color", "aliceblue");

        // Convert seconds into day, hour, minutes and second
        function secondsToDHMS(seconds) {
            seconds = Number(seconds);
            var day = Math.floor(seconds / (3600 * 24));
            var hour = Math.floor((seconds % (3600 * 24)) / 3600);
            var minutes = Math.floor((seconds % 3600) / 60);
            var sec = Math.floor(seconds % 60);

            if (sec == 0) {
                return sec + " seconds";
            }
            else if (minutes == 0) {
                return sec + " seconds";
            }
            else if (hour == 0) {
                return minutes + " minutes " + sec + " seconds";
            }
            else if (day == 0) {
                return hour + " hours " + minutes + " minutes " + sec + " seconds";
            }
            else {
                return day + " days " + hour + " hours " + minutes + " minutes " + sec + " seconds";
            }
        }

        // formating date
        function formatedDate(val) {
            var date = new Date(val);
            const month = String(date.getUTCMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const year = date.getFullYear();
            const hours = String(date.getHours()).padStart(2, '0');
            const minutes = String(date.getMinutes()).padStart(2, '0');

            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }

        // Formate the details
        function showDetailsModal( description, startTime, endTime, totalTime) {
            description = "Description: " + description + "\n";
            startTime = "Start time: " + startTime + "\n";
            endTime = "End time: " + endTime + "\n";
            seconds = secondsToDHMS(totalTime);
            totalTime = "Total time: " + seconds;
            var mainTimeDescription = description + startTime + endTime + totalTime;
            return mainTimeDescription;
        }

        // History table
        function createTimeHistoryTable(data) {
            let timeHistoryTable = `
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Total Time</th>
                        </tr>
                    </thead>
                    <tbody>`;

            data.forEach(item => {
                const startTime = formatedDate(item.startTime);
                const endTime = formatedDate(item.endTime);
                const totalTime = secondsToDHMS(item.totalTime);

                timeHistoryTable += `
                    <tr>
                        <td>${startTime}</td>
                        <td>${endTime}</td>
                        <td>${totalTime}</td>
                    </tr>`;
            });
            timeHistoryTable += `
                            </tbody>
                        </table>`;

            return timeHistoryTable;
        }


        // Calling from details button
        function openDetailsModal(subTaskId,description){
            $.ajax({
                url: "/TimeTrack/GetTimeBySubTaskId",
                type: "GET",
                data: { subTaskId: subTaskId 
                },
                success: function (response) {
                    if (response.success == true) {
                        var mainTimeDescription = showDetailsModal(description, response.startTime, response.endTime, response.totalTime);
                        var data = response.timeHistory;
                        var timeHistoryTable = createTimeHistoryTable(data);
                        document.getElementById('modalDescription').innerText = mainTimeDescription;
                        document.getElementById('eachTimeDescription').innerHTML = timeHistoryTable;
                        var myModal = new bootstrap.Modal(document.getElementById('detailsModal'));
                        myModal.show();
                    }
                    else {
                        document.getElementById('modalDescription').innerText = "Description: " + description + "\n don't work previously in this sub-task";
                        document.getElementById('eachTimeDescription').innerHTML = `<p>No History</p>`;
                        var myModal = new bootstrap.Modal(document.getElementById('detailsModal'));
                        myModal.show();
                    }
                    
                },
                error: function (xhr, status, error) {
                    alert("Error stopping tracking: " + error);
                }
            });
        }

        var deleteSubTaskId = null;
        var deleteTaskId = null;

        function openDeleteModal(taskId) {
            deleteSubTaskId = taskId;
            $('#modal').modal('show'); 
        }


        function confirmDelete() {
            if (deleteSubTaskId) {
                $.ajax({
                    url: '/SubTask/Delete/' + deleteSubTaskId,
                    type: 'POST',
                    success: function (response) {
                        $('#modal').modal('hide'); 
                        location.reload(); 
                    },
                    error: function () {
                        alert('Error deleting sub task.');
                    }
                });
            }
        }

        // for task delete

        function openDeleteTaskModal(taskId) {
            deleteTaskId = taskId;
            $('#modalTask').modal('show');
        }


        function confirmTaskDelete() {
            if (deleteTaskId) {
                $.ajax({
                    url: '/Tasks/Delete/' + deleteTaskId,
                    type: 'POST',
                    success: function (response) {
                        $('#modalTask').modal('hide');
                        window.location.href = '@Url.Action("Details", "UserStory", new { Id = Model.Tasks.UserStoryId })';
                    },
                    error: function () {
                        alert('Error deleting task.');
                    }
                });
            }
        }

        function flipPlayPauseButton(subTaskId, status) {
            if (status === "Started") {
                document.getElementById("playButton-" + subTaskId).classList.add("d-none");
                document.getElementById("pauseButton-" + subTaskId).classList.remove("d-none");
            } else {
                document.getElementById("playButton-" + subTaskId).classList.remove("d-none");
                document.getElementById("pauseButton-" + subTaskId).classList.add("d-none");
            }
        }

        // calculate waiting time to active the pause button
        function waitingTimeToActivePauseButton(startTime)
        {
            var date1 = new Date(startTime);
            var date2 = new Date();
            var waitingTime = Math.floor(Math.abs(date2.getTime() - date1.getTime()) / 1000);
                        
            if(waitingTime>10){
                waitingTime= 0;
            }
            else{
                waitingTime = 10 - waitingTime;
            }

            return waitingTime;
        }

        // Time track starting
        function IncompletedTracking(subTaskId) {
            $.ajax({
                url: "/TimeTrack/IncompletedTimeTrackBySubTask",
                type: 'GET',
                data: { subTaskId: subTaskId },
                success: function (response) {
                    localStorage.setItem("assignMemberIdSubTask-" + subTaskId, response.assignMembersId);
                    var assignMembersId = localStorage.getItem("assignMemberIdSubTask-" + subTaskId);

                    if (response.status === "Started") {
                        localStorage.setItem("trackingSubTask-" + subTaskId, "Started");
                        var startTime = response.timeTrack.startTime;
                        localStorage.setItem("TimeTrackingSubTask-" + subTaskId, startTime);

                        flipPlayPauseButton(subTaskId, "Started");
                        
                        $("#pauseButton-" + subTaskId).addClass("disabled");

                        othersPlayButtonDisabledAndEnabled(subTaskId, 1, assignMembersId);

                        var waitingTime = waitingTimeToActivePauseButton(startTime);

                        setTimeout(function () {
                            $("#pauseButton-" + subTaskId).removeClass("disabled");
                        }, waitingTime*1000);

                        stoptWatch(subTaskId);

                    } else {
                        localStorage.setItem("trackingSubTask-" + subTaskId, "Stopped");
                        localStorage.setItem("TimeTrackingSubTask-" + subTaskId, 0);
                        flipPlayPauseButton(subTaskId, "Stopped");
                    }
                },
                error: function () {
                    alert("Error starting tracking for Task ID: " + taskId + ", SubTask ID: " + subTaskId);
                }
            });
        }

        // Button tracking handle
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[id^=playButton-]").forEach(button => {
                let subTaskId = button.id.split("-")[1];
                IncompletedTracking(subTaskId);
            });
        });

        

        // Stop watch releted variable
        const timers = {};

        // Update stop watch
        function updateDisplay(seconds, subTaskId) {
            const day = Math.floor(seconds / 86400).toString().padStart(2, '0');
            const hour = Math.floor((seconds %86400) / 3600).toString().padStart(2, '0');
            const min = Math.floor(((seconds % 86400) % 3600) / 60).toString().padStart(2, '0');
            const sec = (((seconds % 86400) % 3600) % 60).toString().padStart(2, '0');
            document.getElementById(`stop-watch-${subTaskId}`).textContent = `${day}:${hour}:${min}:${sec}`;
        }

        // Stopwatch 
        function stoptWatch(subTaskId) {
            if (!timers[subTaskId]) {
                timers[subTaskId] = { currentTime : 0, interval : null, isRunning : false };
            }

            const timer = timers[subTaskId];
            let status = localStorage.getItem("trackingSubTask-" + subTaskId);

            if (timer.isRunning) {
                const timer = timers[subTaskId];
                clearInterval(timer.interval);
                timer.currentTime = 0;
                timer.isRunning = false;
                return;
            }

            timer.isRunning = true;

            timer.interval = setInterval(() => {
                var storageDate = localStorage.getItem("TimeTrackingSubTask-" + subTaskId);
                var date1 = new Date(storageDate);
                var date2 = new Date();
                timer.currentTime = Math.floor(Math.abs(date2.getTime() - date1.getTime()) / 1000);
                updateDisplay(timer.currentTime, subTaskId);
            }, 1000);
        }

       


        // Time track starting
        function startTracking(taskId, subTaskId,assignMembersId) {
            stoptWatch(subTaskId);
            localStorage.setItem("assignMemberIdSubTask-" + subTaskId, assignMembersId);
            $.ajax({
                url:"/TimeTrack/Start",
                type: 'POST',
                data: { taskId: taskId, subTaskId: subTaskId },
                success: function(response) {
                    if (response.status === "Started") {
                        localStorage.setItem("trackingSubTask-" + subTaskId, "Started");
                        localStorage.setItem("TimeTrackingSubTask-" + subTaskId, new Date());
                    }

                    $("#playButton-" + subTaskId).addClass("d-none");
                    $("#pauseButton-" + subTaskId).removeClass("d-none");
                    $("#pauseButton-" + subTaskId).addClass("disabled");
                    othersPlayButtonDisabledAndEnabled(subTaskId, 1, assignMembersId);

                    setTimeout(function () {
                        $("#pauseButton-" + subTaskId).removeClass("disabled");
                    }, 10000);
                },
                error: function () {
                    alert("Error starting tracking for Task ID: " + taskId + ", SubTask ID: " + subTaskId);
				}
            });
        }

        // Time track stopping
        function stopTracking(taskId, subTaskId, assignMembersId) {
            stoptWatch(subTaskId);
            localStorage.setItem("assignMemberIdSubTask-" + subTaskId, assignMembersId);
            $.ajax({
                url: "/TimeTrack/End",
                type: 'POST',
                data: { taskId: taskId, subTaskId: subTaskId },
                success: function (response) {
                    if (response.status === "Stopped") {
                        localStorage.setItem("trackingSubTask-" + subTaskId, "Stopped");
                        localStorage.setItem("TimeTrackingSubTask-" + subTaskId, 0);
                    }

                    $("#pauseButton-" + subTaskId).addClass("d-none");
                    $("#playButton-" + subTaskId).removeClass("d-none");
                    othersPlayButtonEnabled(subTaskId, 2, assignMembersId);
                },
                error: function () {
                    alert("Error stopping tracking for Task ID: " + taskId + ", SubTask ID: " + subTaskId);
                }
            }); 
        }

        // Disable and Enable the play button when start a sub task and closing a sub task
        function othersPlayButtonDisabledAndEnabled(subTaskId, state, assignMembersId) {
            document.querySelectorAll("[id^=playButton-]").forEach(button => {
                let id = button.id.split("-")[1];
                let memberIdElement = document.getElementById("memberData");
                let memberId = memberIdElement ? memberIdElement.getAttribute("data-member-id") : null;
                
                if (id != subTaskId && state == 1 && assignMembersId == memberId) {
                    $("#playButton-" + id).addClass("disabled");
                    console.log("memberId: ", memberId, "assignedId:", assignMembersId);
                    console.log("id = ",id,"and subtaskId = ", subTaskId);
                }
                
            });
        }

        // Disable and Enable the play button when start a sub task and closing a sub task
        function othersPlayButtonEnabled(subTaskId, state, assignMembersId) {
            document.querySelectorAll("[id^=playButton-]").forEach(button => {
                let id = button.id.split("-")[1];
                let memberIdElement = document.getElementById("memberData");
                let memberId = memberIdElement ? memberIdElement.getAttribute("data-member-id") : null;

                if (state == 2 && assignMembersId == memberId) {
                    $("#playButton-" + id).removeClass("disabled");
                }
            });
        }

    </script>
}