@model DataAccessLayer.Models.Entity.SubTask
@using DataAccessLayer.StaticClass
@{
    ViewData["Title"] = "SubTask-Update";
	ViewData["Banner"] = "Update SubTask";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName)??string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName,new{id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("UserStories", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.UserStoryControllerName,new{projectId = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("StoryDetails", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.UserStoryControllerName,new{Id = ViewBag.StoryId})?? string.Empty),
        new KeyValuePair<string, string>("TaskDetails", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.TasksControllerName,new{id = ViewBag.TaskId, projectId = ViewBag.ProjectId})?? string.Empty),
        new KeyValuePair<string, string>("EditSubTask","#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 shadow-lg rounded p-4">
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TaskId" class="form-control" value="@Model.TaskId" type="hidden"/>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Descripton" class="control-label"></label>
                <textarea asp-for="Descripton" class="form-control" rows="4">@Model.Descripton</textarea>
                <span asp-validation-for="Descripton" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-2">
                <div>
                    <label asp-for="AssignMembersId">Assignee</label>
                    <select asp-for="@Model.AssignMembersId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                        <option value="0"> Select Assignee </option>
                    </select>
                    <span asp-validation-for="AssignMembersId" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ReviewerMemberId">Reviewer</label>
                    <select asp-for="@Model.ReviewerMemberId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                        <option value="0"> Select Reviewer </option>
                    </select>
                    <span asp-validation-for="ReviewerMemberId" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="QAMemberId">QA-Responsible</label>
                    <select asp-for="@Model.QAMemberId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                        <option value="0"> Select QA </option>
                    </select>
                    <span asp-validation-for="QAMemberId" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-group mt-3">
                <label asp-for="EstimatedTime" class="control-label">Estimated Time(hr.)</label>
                <input asp-for="EstimatedTime" class="form-control" value="@Model.EstimatedTime"/>
                <span asp-validation-for="EstimatedTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" value="@Model.Tag"/>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between mt-2">
                <label asp-for="Status" class="control-label"></label>

                <select asp-for="Status" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>

                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Priority" ></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">

                <input asp-for="TaskId" class="form-control" type="hidden" value="@Model.TaskId" />
            </div>
            <div class="form-group mt-5 d-flex justify-content-between">
                <input type="button" onclick="submitForm()" value="Update" class="btn btn-success fw-bold" />
                <a class="btn btn-success fw-bold" asp-action="Details" asp-controller="Tasks" asp-route-id="@ViewBag.TaskId" asp-route-projectId="@ViewBag.ProjectId">Back to Tasks</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        function submitForm() {
            var form = $('#createForm');
            var formData = new FormData(form[0]);
            if(form.valid()){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "SubTask")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {

                        window.location.href = '@Url.Action("Details", "Tasks", new { id = Model.TaskId, projectId = ViewBag.ProjectId })';
                    },
                    error: function (error) {
                        alert('An error occurred: ' + error);
                    }
                });
            }

        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
