@model DataAccessLayer.Models.Entity.SubTask
@{
    ViewData["Title"] = "SubTask-Update";
	ViewData["Banner"] = "Update SubTask";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TaskId" class="form-control" value="@Model.TaskId" type="hidden"/>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Descripton" class="control-label"></label>
                <textarea asp-for="Descripton" class="form-control" rows="4">@Model.Descripton</textarea>
                <span asp-validation-for="Descripton" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="AssignMembersId" class="control-label">Assignee</label>
                <select asp-for="@Model.AssignMembersId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                    <option value="@Model.AssignMembersId">-- Select Assignee --</option>
                </select>
                <span asp-validation-for="AssignMembersId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ReviewerMemberId" class="control-label">Reviewer</label>
                <select asp-for="@Model.ReviewerMemberId" class="form-control btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Members">
                    <option value="@Model.ReviewerMemberId">-- Select Reviewer --</option>
                </select>
                <span asp-validation-for="ReviewerMemberId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="EstimatedTime" class="control-label">Estimated Time(hr.)</label>
                <input asp-for="EstimatedTime" class="form-control" value="@Model.EstimatedTime"/>
                <span asp-validation-for="EstimatedTime" class="text-danger"></span>
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" value="@Model.Tag"/>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-evenly mt-2">
                <label asp-for="Status" class="control-label"></label>

                <select asp-for="Status" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" ></select>
                <span asp-validation-for="Status" class="text-danger"></span>

                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" ></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="TaskId" class="form-control" type="hidden" value="@Model.TaskId" />
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <input type="button" onclick="submitForm()" value="Update" class="btn btn-success w-50" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5 ">
    <a class="btn btn-outline-danger w-25" asp-action="#">Back to User Story</a>
</div>

@section Scripts {

    <script>
        function submitForm() {
            var form = $('#createForm');
            var formData = new FormData(form[0]);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "SubTask")',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.href = '@Url.Action("Details", "Tasks")/'+ @Model.TaskId;
                },
                error: function (error) {
                    alert('An error occurred: ' + error);
                }
            });
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
