@model DataAccessLayer.Models.ViewModel.ReleaseDetailsVM
@using DataAccessLayer.StaticClass

@{
    ViewData["Title"] = "Details";
    ViewData["Banner"] = "Release Details";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName) ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName, new{ id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("Release", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ReleaseControllerName, new{ projectId = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("Details", "#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div class="d-flex justify-content-between">
    <h3 class="text-center">Release: @Model.ReleaseName</h3>
</div>

<hr />

<div>
    Description: @Model.Description
    <hr />
    Start Date: @Model.StartDate
    <hr />
    End Date: @Model.EndDate
    <hr />
</div>

<div class="d-flex justify-content-between mb-2">
    <h3>Sprints</h3>
    <a class="btn btn-success" asp-controller="Sprint" asp-action="CreateWithRelease" asp-route-releaseId="@Model.ReleaseId">
        <i class="text-light fa-solid fa-plus"></i> Sprint
    </a>
</div>

<div>
    <table class="table table-bordered table-striped table-hover" id="datatable">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Start Date
                </th>

                <th>
                    End Date
                </th>
                <th>
                    Points
                </th>
                <th>
                    Velocity
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Sprints.Any())
            {
                @foreach (var item in Model.Sprints)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SprintName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Velocity)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center fw-bold text-danger">No Sprint found!</td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts{
    <script>


        $(document).ready(function () {
            $("#datatable").DataTable({

            });
        });
        $("th").css("background-color", "aliceblue");


    </script>
}

