@model DataAccessLayer.Models.Entity.Release
@using DataAccessLayer.StaticClass
@{
    ViewData["Title"] = "Edit Release";
    ViewData["Banner"] = "Edit Release";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Project", Url.Action("Index", "Project") ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action("Details", "Project",new{id = ProjectKey.GetProjectId()})?? string.Empty),
        new KeyValuePair<string, string>("Release", Url.Action("Index", "Release",new{projectId = ProjectKey.GetProjectId()})?? string.Empty),
        new KeyValuePair<string, string>("Edit", Url.Action("Edit", "Release",new{id = Model.ReleaseId})?? string.Empty),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div id="response-message">

</div>

<form id="form" method="post">
    <div class="form-group">
        <input asp-for="@Model.ReleaseId" name="ReleaseId" class="form-control" id="id" hidden>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ReleaseName"> </label>
        <input asp-for="@Model.ReleaseName" class="form-control" id="name">
    </div>


    <div class="form-group">
        <input asp-for="@Model.ProjectId" class="form-control" id="projectId" hidden>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description"> </label>
        <textarea asp-for="@Model.Description" class="form-control" id="description"> </textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.StartDate"> </label>
        <input asp-for="@Model.StartDate" class="form-control" id="startDate">
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndDate"> </label>
        <input asp-for="@Model.EndDate" class="form-control" id="endDate">
    </div>
    <br /> <br />

    <button type="button" class="btn btn-success" id="submitForm">Update Release</button>
    <a href="@Url.Action("Index", "Release", new { projectId = Model.ProjectId })" class="btn btn-success fw-bold float-end"> Back to List</a>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        $('#submitForm').click( function (e) {
            e.preventDefault();

            var formData = new FormData(form);
            var id = $('#id').val();

            for( var pair of formData.entries()) {
                console.log(pair[0]+ ', '+ pair[1]);
            }
            //debugger;

            $.ajax({
                url: `/Release/Edit/${id}`,
                method:'POST',
                data:formData,
                processData: false,
                contentType: false,
                success:function(response){
                    if(response.success){
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(function(){
                        window.location.href = '@Url.Action("Index", "Release", new {projectId = Model.ProjectId})';
                        }, 2000);
                    }
                    else{
                        $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }

                },
                error: function(response){
                    $('#response-message').html('<div class="alert alert-danger"> An error occurred:' + response.message + '</div>');
                }


            });
        });

    });
</script>
