@model DataAccessLayer.Models.Entity.Sprint
@{
    ViewData["Title"] = "Create Sprint";
    ViewData["Banner"] = "Create Sprint";
}

<div id="response-message">
</div>

<form id="form" method="post">
    <div class="form-group">
        <label asp-for="@Model.SprintName"> </label>
        <input asp-for="@Model.SprintName" class="form-control" id="name" placeholder="Enter Sprint Name">
    </div>

    <div class="form-group">
        <label asp-for="@Model.Description"> </label>
        <textarea asp-for="@Model.Description" class="form-control" id="description" placeholder="Write Short Description"> </textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.StartDate"> </label>
        <input asp-for="@Model.StartDate" class="form-control" id="startDate" placeholder="Select Start Date" type="date">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Duration"> </label>
        <input asp-for="@Model.Duration" class="form-control" id="duration" placeholder="Select Sprint Duration" type="number">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Points"> </label>
        <input asp-for="@Model.Points" class="form-control" id="points" placeholder="Enter Sprint Points" type="number">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Velocity"> </label>
        <input asp-for="@Model.Velocity" class="form-control" id="velocity" placeholder="Enter Sprint Velocity" type="number">
    </div>

    <div class="form-group">
        <label asp-for="@Model.ReleaseId"> </label>
        <select asp-for="@Model.ReleaseId" class="form-control" asp-items="ViewBag.Releases">
            <option value="">-- Select Release --</option>
        </select>
    </div>
    <br /> <br />

    <button type="button" class="btn btn-success" id="submitForm">Create Sprint</button>
    <a class="btn btn-success float-end" asp-action="Index">Back to List</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        $('#submitForm').click( function (e) {
            e.preventDefault();

            var formData = new FormData(document.getElementById('form'));

            for( var pair of formData.entries()) {
                console.log(pair[0]+ ', '+ pair[1]);
            }

            $.ajax({
                url:'@Url.Action("Create", "Sprint")',
                method:'POST',
                data:formData,
                processData: false,
                contentType: false,
                success:function(response){
                    if(response.success){
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(function(){
                        window.location.href = '@Url.Action("Index", "Sprint", new {projectId =ViewBag.ProjectId} )';
                        }, 1000);
                    }
                    else{
                        $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }

                },
                error: function(response){
                    $('#response-message').html('<div class="alert alert-danger"> An error occurred:' + response.message + '</div>');
                }
            });
        });

    });
</script>
