@model DataAccessLayer.Models.ViewModel.SprintDetailsVM
@using DataAccessLayer.StaticClass
@{
    ViewData["Title"] = "Details";
    ViewData["Banner"] = "Sprint Details";
}

@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName) ?? string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName, new{ id = ProjectKey.GetProjectId()})?? string.Empty),
        new KeyValuePair<string, string>("Sprint", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.SprintControllerName, new{ projectId = ProjectKey.GetProjectId()})?? string.Empty),
        new KeyValuePair<string, string>("Details", "#"),
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

<div class="d-flex justify-content-between">
    <h3 class="text-center">Release: @Model.SprintName</h3>
</div>

<hr />

<div>
    Description: @Model.Description
    <hr />
    Start Date: @Model.StartDate
    <hr />
    End Date: @Model.EndDate
    <hr />
    Points: @Model.Points
    <hr />
    Velocity: @Model.Velocity
    <hr />
</div>

<div class="d-flex justify-content-between mb-2">
    <h3>User Story</h3>
    <a class="btn btn-success" asp-controller="UserStory" asp-action="Create" asp-route-id="#">
        <i class="text-light fa-solid fa-plus"></i> User Story
    </a>
</div>

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Story Name
                </th>

                <th>
                    Category
                </th>

                <th>
                    EstimateTime
                </th>
                <th>
                    Points
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.UserStroy.Any())
            {
                @foreach (var item in Model.UserStroy)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a class="btn btn-light" asp-controller="" asp-action="" asp-route-id="" asp-route-projectId=""><i class="text-success fa-solid fa-pen fw-bold"></i></a> |
                            <a class="btn btn-light" asp-action="" asp-route-id="" asp-route-projectId=""><i class="text-success fa-solid fa-info fw-bold"></i></a> |
                            <a class="btn btn-light" onclick="openDeleteModal('')"><i class="text-danger fa-solid fa-trash fw-bold"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center fw-bold text-danger">No User Story found!</td>
                </tr>
            }


        </tbody>

    </table>
</div>

