@model IEnumerable<DataAccessLayer.Models.ViewModel.SprintVM>
@{
    ViewData["Title"] = "Index";
    ViewData["Banner"] = "Sprint Panel";
}


<div class="mb-3">
    <a href="@Url.Action("Create", "Sprint", new { projectId = ViewBag.ProjectId })" class="btn btn-success fw-bold"> <i class="text-light fa-solid fa-plus fw-bold"></i> Create Sprint</a>
</div>
<div id="response-message">
</div>

<div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>

                <th>
                    Start Date
                </th>

                <th>
                    End Date
                </th>
                <th>
                    Points
                </th>
                <th>
                    Velocity
                </th>

                <th>
                    Release
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SprintName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Velocity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseName)
                        </td>
                        <td>
                            <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.SprintId" asp-route-projectId="@ViewBag.ProjectId"><i class="text-success fa-solid fa-pen fw-bold"></i></a> |
                            <a class="btn btn-light" onclick="openDeleteModal('@item.SprintId')"><i class="text-danger fa-solid fa-trash fw-bold"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center fw-bold text-danger">No data found!</td>
                </tr>
            }


        </tbody>

    </table>
</div>


<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-black" id="exampleModalLabel">Delete User Story !!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-capitalize text-danger">
                After clicking on "Delete" button it wont be undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="confirmDelete()" class="btn btn-outline-danger">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let sprintIdToDelete = 0;

        function openDeleteModal(id)
        {
            sprintIdToDelete = id;
            $("#modal").modal('show');
        }

        function confirmDelete() {
            $.ajax({
                url: `/Sprint/Delete/${sprintIdToDelete}`,
                type: 'POST',
                success: function (response) {
                    if(response.success) {
                        $("#modal").modal('hide');
                        $('#response-message').html('<div class="alert alert-success">' + response.message + '</div>');
                        setTimeout(() => {
                            window.location.reload();
                        }, 1000);
                    }

                    else {
                       $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                    }
                },
                error: function (response) {
                      $('#response-message').html('<div class="alert alert-danger">' + response.message + '</div>');
                }
            });
        }
    </script>
}