@model DataAccessLayer.Models.ViewModel.UserStoryVM
@using DataAccessLayer.StaticClass

@{
    ViewData["Title"] = "Add UserStory";
    ViewData["Banner"] = "Create User Story";
}
@{
    var breadcrumbs = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("","#"),
        new KeyValuePair<string, string>("Project", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.ProjectControllerName)??string.Empty),
        new KeyValuePair<string, string>("Dashboard", Url.Action(ActionNameHelper.DetailsActionName, ControllerNameHelper.ProjectControllerName,new{id = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("User Stories", Url.Action(ActionNameHelper.IndexActionName, ControllerNameHelper.UserStoryControllerName,new{projectId = ViewBag.ProjectId })?? string.Empty),
        new KeyValuePair<string, string>("Create", "#")
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show " role="alert" id="error">
        <strong>Error!</strong> @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

else
{

    <div class="d-flex justify-content-center">
        <div class="col-md-4">
            <form id="createForm" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-2">
                    <label asp-for="StoryName" class="control-label">Story Name</label>
                    <input asp-for="StoryName" class="form-control" />
                    <span asp-validation-for="StoryName" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"  rows="6" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-evenly mt-2">
                    <label asp-for="Category" class="control-label"></label>  
                    <select asp-for="@Model.Category" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Category"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>  

                    <label asp-for="Points" class="control-label"></label>
                    <input asp-for="Points" class="form-control " style="width: 60px;"/> 
                    <span asp-validation-for="Points" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-evenly mt-2">
                    <label asp-for="Status" class="control-label"></label>
                
                    <select asp-for="@Model.Status" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
            
                    <label asp-for="Priority" class="control-label"></label>
                    <select asp-for="@Model.Priority" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Priority"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group mt-2 w-100">
                    <label asp-for="SprintId" class="control-label">Select Sprint</label> <br />
                    <select asp-for="SprintId" class="btn btn-sm btn-light dropdown-toggle w-100" data-bs-toggle="dropdown" aria-expanded="false" style="background-color : lightblue" asp-items="ViewBag.Sprints">
                        <option value="0">Select Sprint</option>
                    </select>
                    <span asp-validation-for="SprintId" class="text-danger"></span>
                </div>

                <div>
                    <input type="hidden" asp-for="@Model.ProjectId" value="@ViewBag.ProjectId" />
                </div>
            
                <div class="form-group mt-2 d-flex justify-content-center ">
                    <button type="button" class="btn btn-success w-50 " onclick="submitForm()">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-5"> 
         <a href="@Url.Action("Index", "UserStory",new{projectId = ViewBag.ProjectId})" class="btn btn-outline-danger w-25">Back to User Stories</a> 
     </div>

}


@section Scripts {
    
    <script>
        function submitForm() {
            var form = $('#createForm');
            var formData = new FormData(form[0]);
            if (form.valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "UserStory")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        window.location.href = r.redirectUrl;
                    },
                    error: function (error) {
                        alert('An error occurred: ' + error);
                    }
                });
            }
            
        }
    </script>

   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
